<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wondulust</title>
</head> -->
<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/style.css">
<body>
    <div class="home-container text-center ">
    <h1>Welcome to Airbnb Replica </h1>
    <p>This is made by Bharat Kumar prajapati
       and this replica using language,framwork,liabrery,and server,Database and so on  
    </p>
    <ul class="u"> Used language
        <li>Html</li>
        <li>CSS</li>
        <li>Javascript</li>
    </ul >
    <ul class="u">
        liabrery
        <li>Bootstap</li>
        <li>fontAwesome</li>
    </ul>
    <ul class="u">
        Backend
        <li>Node.js</li>
        <li>Express</li>
        <li>EJS</li>
        <li>EJS mate</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
    </ul>

    <div class="home-button">
        <a href="/listings">please click the button</a>
    </div>
</div>
</body>
<!-- </html> -->